{{right_sidebar_enabled=True}}
{{left_sidebar_enabled=True}}
{{'message' in globals()}}

{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{block center}}
{{if 'message' in globals():}}
    <h2>{{=message}}</h2>
{{elif 'content' in globals():}}
    {{=content}}
{{else:}}

    <h1>Todos os carros</h1>
    {{=car_grid}}
    <div style="text-align: center">
        <h1>Modelos Disponíveis 2</h1>
        <ul>
            {{for registro in registros:}}
                <li>
                    <img width="200px" src="{{=URL('veiculo','download',args=registro.foto)}}"/>

                </li>

            {{pass}}
        </ul>
    </div>

{{pass}}


{{=BEAUTIFY(response._vars)}}

<button onclick="document.location='{{=URL("admin","default","design",
args=request.application)}}'">admin</button>



{{end}}

{{block left_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("Opções")}}
    </a></h3>
  </div>
  <div class="panel-body">
     <div>
      {{=MENU(response.MeuMenu,_class='sf-menu')}}
     </div>
  </div>
</div>

 <div style="text-align: center">

    <h1>Detalhes(alterar\apagar): carro 3</h1>
    {{=form_carro}}

 </div>
{{end}}

{{block right_sidebar}}
<div class="panel panel-info">

       {{=form_hora}}

</div>

<div style="text-align: center">

       <h1>Pesquisando carro </h1>
       {{=form_crud}}
       {{=table_crud}}
</div>
{{end}}