{{right_sidebar_enabled=True}}
{{left_sidebar_enabled=True}}
{{'message' in globals()}}

{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=title}}
          <small>{{=response.subtitle or ''}}</small></h1>
        {{pass}}
      </div>
    </header>
{{end}}

{{block left_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3>
  </div>
  <div class="panel-body">
     <div>
      {{=MENU(response.MeuMenu,_class='sf-menu')}}
     </div>
  </div>
</div>

 <h1>Pesquisando marca</h1>
    {{=form_crud}}
    {{=table_crud}}

{{end}}

{{block center}}
    <div style="text-align: center">
        <h1>Marca CRUD</h1>
        {{=marca_grid}}

        <h1>Marca SQL</h1>
        {{=marca_sqlform}}
    </div>
{{pass}}
{{end}}

{{block right_sidebar}}
<div style="text-align: center">

   <h1>Altera/Deleta marca</h1>
    {{=form_marca}}

</div>
{{end}}