{{extend 'layout.html'}}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <title>Testes da Apostila</title>

</head>
<body>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <h1>Teste de Cálculos:</h1>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    form12 (5+2)*9 = {{=form}}
    form2 50+50 = {{=form2}}
    form3 7/2 = {{=form3}}
    form4 7.0/2 = {={form4}}
    form5 Brasil*4 = {{f=orm5}}

    estamos no ano de 2010 =  {{=form6}}
    estamos no ano de 2010 =  {{=form7}}
    estamos no ano de 2010 ={{=form8}}

    Desenvolvimento web com Python e web2py = {{=form9}}
    Desenvolvimento web com Python e web2py = {{=form10}}

    {{=form11}}

    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>

    {{=linguagens}}

    {{=minhatupla}}

    {{=pessoas_dic}}

    {{=i}}

    {{for pessoa_dic2 in pessoas_dic:
            print pessoa_dic2 +' '+pessoas_dic[pessoa_dic2]['cidade']+' '+str(pessoas_dic[pessoa_dic2]['idade'])}}

    {{
        for i in range(3):
            if i ==0:
                print 'Zero'
            elif i==1:
                print 'um'
            else:
                print 'ourto'

    }}
    </body>
</html>