{{extend 'layout.html'}}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">

    <title>TESTE BD</title>

    <h1>Pessoas Form</h1>
    {{=pessoas_form}}

    <br/>

    <h1>Myfield Form</h1>
    {{=myfield_form}}

    <h1>Pessoas SqlForm</h1>
    {{=pessoas_sqlform}}

     <h1>Myfield SQLForm</h1>
    {{=myfield_sqlform2}}


    {{=response.toolbar()}}

    <h1>Person = ALL</h1>
    {{db.executesql('SELECT * FROM person;')}}
</head>
<body>

</body>
</html>