{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}

<!DOCTYPE html>

{{extend 'layout.html'}}

<html>

<body>

<head lang="en">
    <meta charset="UTF-8">

    {{block header}}
        <header class="container-fluid background">
          <div class="jumbotron text-center">
            {{if response.title:}}
            <h1>FORM helpers</h1>
             <h1><small>teste de forms</small></h1>
            {{pass}}
          </div>
        </header>
    {{end}}


</head>


<h2>Input form helpers</h2>

{{=form}}

<h2>Submitted variables</h2>
{{=BEAUTIFY(request.vars)}}


<h2>Input form helpers validate</h2>
{{=form2}}

<h2>Submitted variables</h2>
{{=BEAUTIFY(request.vars)}}
<h2>Accepted variables</h2>
{{=BEAUTIFY(form2.vars)}}
<h2>Errors in form</h2>
{{=BEAUTIFY(form2.errors)}}



{{=form3}}



</body>

</html>