{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}

<!DOCTYPE html>

{{extend 'layout.html'}}

<html>

<body>

<head lang="en">
    <meta charset="UTF-8">

    {{block header}}
        <header class="container-fluid background">
          <div class="jumbotron text-center">
            {{if response.title:}}
            <h1>FORM</h1>
             <h1><small>teste de forms</small></h1>
            {{pass}}
          </div>
        </header>
    {{end}}


</head>


<h2>Input form</h2>

<form enctype="multipart/form-data"
      action="{{=URL()}}" method="post">
Your name:
<input name="name" />
<input type="submit" />
</form>

<h2>Submitted variables</h2>
{{=BEAUTIFY(request.vars)}}



</body>

</html>