{{extend 'layout.html'}}
<!DOCTYPE html>

<html>

<head lang="en">
    <meta charset="UTF-8">
    <h1>Modelos de carros - form</h1>
</head>

<body>

    <br>
    <h1>form utilizado uma tabela----------------------------------------------------</h1>
    <!--aqui apenas está chamando a car_model_form def, onde será mostrado um form simples
      e um botão de enviar-->
    {{=car_model_form}}

    <br>
    <h1>form sem utilizar uma tabela----------------------------------------------------</h1>
    <br>
    <!--aqui apenas está chamando a car_model_form def, onde será mostrado um form simples
      e um botão de enviar-->
    {{=car}}

</body>

</html>